.header{
	background-color:dimgrey;
	height:90px;
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
}
h1{
	font-size:70px;
	font-family:verdana;
	color:white;
	margin:0;
	padding:0;
	text-align:center;
	margin:0;
	padding:0;
}
.nav{
	height:60px;
	background-color:black;
	text-align:center;
	width:100%;
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
	overflow:hidden;
	list-style-type:none;
}
li a{
	color:dimgrey;
	text-decoration:none;
	font-family:verdana;
	font-size:25px;
	background-color:black;
	padding:14px;
	display:inline-block;
	position:relative;
	left:640px;
}
li{
	float:left;
}
li a:hover{
	background-color:darkgrey;
}
#banner{
	width:100%;
	height:500px;
	padding:0;
	margin:0;
}
#dishonored{
height:500px;
width:100%;
padding:0;
margin:0;
 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
#dishonored:hover{
	filter:brightness(70%) blur(3px);
}
.dishonored{
	margin:0;
	padding:0;
	padding-top:60px;
	padding-bottom:60px;
	position:relative;
}
html{
	background-color:darkgrey;
}
h2{
	position:absolute;
	font-family:verdana;
	font-size:35px;
	left:15px;
	top:60px;
}
.dishonored:hover{
    color:darkgrey;
}
p{
	position:absolute;
	top:130px;
	left:15px;
	font-family:verdana;
	font-size:17px;
}
h3{
	position:absolute;
	top:430px;
	font-family:verdana;
	font-size:25px;
	left:15px;
}
#skyrim{
height:500px;
width:100%;
padding:0;
margin:0;
 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
#skyrim:hover{
	-webkit-filter:brightness(70%) blur(3px);
}
.skyrim{
	margin:0;
	padding:0;
	padding-top:60px;
	padding-bottom:60px;
	position:relative;
}
.skyrim:hover{
    color:darkgrey;
}
a{
	color:inherit;
}